@import "../../styles/_variables";

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}

.codeloom__button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: $color-primary-light;
    border: none;
    border-radius: 3px;
    color: $color-white;
    font-size: 90%;

    &--loading {
        background-color: $color-success;
    }
}
