@import "../../../styles/_variables";

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {
    .codeloom {
        &__header {
            height: 70px;
        }
    }
}

@media only screen and (min-width : 768px) {
    .codeloom {
        &__header {

            &__inner {
                &__title {
                    padding: 0;
                    margin: 0 0 0 50px;
                }

                &__nav {
                    margin-right: 100px;
                }
            }
        }
    }
}

@media only screen and (min-width : 992px) {
    .codeloom {
        &__header {

            &__inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 50%;

                &__title {
                    padding: 0;
                    margin: 0 0 0 50px;
                }

                &__nav {
                    margin-right: 100px;
                }
            }
        }
    }
}

@media only screen and (min-width : 1200px) {
    .codeloom {
        &__header {
            height: 90px;
            justify-content: center;

            &__inner {

                &__title {
                    margin: 0 0 0 50px;
                }

                &__nav {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    &__button {
                        height: 100%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        margin-left: 20px;
                        transition: all 0.3s;
                        color: $color-white;
                        border-bottom: 5px solid transparentize(#fff, 1);

                        &:hover {
                            color: $color-primary-light;
                            border-bottom: 5px solid $color-primary-light;
                        }
                    }
                }
            }

            &__button {
                display: none;
            }

            &__mobile__nav {
                display: none;
            }
        }
    }
}
