@import "../../../styles/_variables";

.codeloom {

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-dark;
        height: var(--header_height);
        color: $color-white;

        &__inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: var(--width);

            &__title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                font-size: 180%;
                padding-bottom: 10px;
                border-bottom: 5px solid $color-primary-light;
            }

            &__nav {
                display: none;
            }
        }

        &__button {
            font-size: 35px;
            height: 30px;

            &--active {
                color: $color-primary-light;
            }
        }

        &__mobile__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color-white;
            max-height: 0;
            overflow-y: hidden;
            transition-property: all;
            transition-duration: 0.7s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

            &--open {
                border-bottom: 5px solid $color-primary-light;
                max-height: 200px;
            }

            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 100%;
                background-color: $color-grey-dark;
                padding: 0;
                margin: 0;
                border-bottom: 1px solid $color-black;

                &--active {
                    color: $color-primary-light;
                }

                &--last {
                    border: 0;
                }
            }
        }
    }
}

/* QUERIES */

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {
    .codeloom {
        &__header {
            height: 70px;

            &__inner {
                width: var(--width);
            }
        }
    }
}

@media only screen and (min-width : 768px) {
    .codeloom {
        &__header {
            height: var(--header_height);
            justify-content: center;

            &__inner {
                width: var(--width);

                &__nav {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;

                    &__button {
                        height: 100%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;
                        margin-left: 20px;
                        transition: all 0.3s;
                        color: $color-white;
                        border-bottom: 5px solid transparentize(#fff, 1);

                        &:hover, &--active {
                            color: $color-primary-light;
                            border-bottom: 5px solid $color-primary-light;
                        }
                    }
                }
            }

            &__button {
                display: none;
            }

            &__mobile__nav {
                display: none;
            }
        }
    }
}

@media only screen and (min-width : 992px) {
    .codeloom {
        &__header {
            &__inner {
                width: var(--width);
            }
        }
    }
}

@media only screen and (min-width : 1200px) {
    .codeloom {
        &__header {
            &__inner {
                width: var(--width);
            }
        }
    }
}
