
$color-primary: #336E7B;
$color-primary-light: #428E9F;
$color-primary-dark: #244E57;


$color-black: #494a48;
$color-white: #E3E5E1;
$color-grey: #969793;
$color-grey-dark: #555;
$color-grey-dark: #4d4d4d;
$color-grey-light: #d1d1d0;
