// $color-primary: #464646;
// $color-primary-light: #5c5959;
// $color-primary-dark: #3b3939;


$color-primary: #90a4ae;
$color-primary-light: #c1d5e0;
$color-primary-dark: #62757f;


$color-secondary: #90caf9;
$color-secondary-light: #c3fdff;
$color-secondary-dark: #5d99c6;

$color-purple: #B192BB;
$color-orange: #DA8F58;
$color-red: #CC6564;

$color-green: #B3BD63;
$color-green-dark: #88904a;

$color-white: #FCFFF4;
$color-black: #17234A;
$color-grey: #CED9D6;
