// $color-primary: #464646;
// $color-primary-light: #5c5959;
// $color-primary-dark: #3b3939;


$color-primary: #336E7B;
$color-primary-light: #428E9F;
$color-primary-dark: #244E57;


$color-black: #525350;
$color-white: #E3E5E1;
