@import "../../../styles/_variables";

.codeloom__contact {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__inner {
        width: 100%;
    }

    &__form {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "name"
            "email"
            "number"
            "message";

        &__input {

            &__name {
                grid-area: name;
            }

            &__email {
                grid-area: email;
            }

            &__number {
                grid-area: number;
            }

            &__message {
                grid-area: message;
            }
        }
    }

    &__title {
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 3px solid $color-primary-light;
    }

}

/* QUERIES */

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {
    .codeloom__contact {
        &__form {
            grid-template-columns: 2fr 2fr;
            grid-template-areas:
                "name email"
                "number none"
                "message message";
        }
    }
}

@media only screen and (min-width : 768px) {
    .codeloom__contact {
        margin-top: 50px;
        &__inner {
            width: 70%;
        }

        &__form {
            grid-template-columns: 2fr 2fr;
            grid-template-areas:
                "name email"
                "number none"
                "message message";
        }
    }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}
