@import "../../styles/_variables";

.codeloom__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: scale(1);
    transition: all 0.2s linear;
    color: $color-black;
    overflow: auto;

    &--hide {
        transform: scale(0);
    }

    &__header {
        height: var(--content_header_height);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 120%;
        background: $color-grey-dark;
        color: $color-white;
        position: sticky;
        width: 100%;
        top: 0;

        &__close {
            cursor: pointer;
            font-size: 120%;
            position: absolute;
            left: 10px;
            padding-top: 3px;
            transition: color 0.3s;

            &:hover {
                color: $color-primary-light;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: stretch;
        flex: auto;
        background: $color-grey-light;
        overflow: auto;

        &__inner {
            padding: 20px;
            width: var(--content_inner_width);
        }
    }
}
