@import "../../styles/_variables";

.codeloom__content {
    display: grid;
    grid-template-areas: "header" "content";
    grid-template-rows: var(--content_header_height) 1fr;

    width: 100%;
    transform: scale(1);
    transition: all 0.2s linear;
    color: $color-black;

    &--hide {
        transform: scale(0);
    }

    &__header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 120%;
        background: $color-grey-dark;
        color: $color-white;
        position: sticky;
        width: 100%;
        top: 0;

        &__close {
            cursor: pointer;
            font-size: 120%;
            position: absolute;
            left: 10px;
            padding-top: 3px;
            transition: color 0.3s;

            &:hover {
                color: $color-primary-light;
            }
        }
    }

    &__content {
        grid-area: content;
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: stretch;
        flex: auto;
        background: $color-grey-light;
        overflow-y: auto;

        &__inner {
            padding: 20px;
            width: var(--content_inner_width);
        }
    }
}
