@import "../../../styles/_variables";

.codeloom__content__cv {

    &__loading {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 15px;
            color: $color-black;

            &__text {
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (min-width : 480px) {
    .codeloom__content__cv {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
